<mat-toolbar class="back">
  <!--<a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>-->
  <!--<a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Information</a>-->
  <!--<a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Debts</a>-->
  <!--<a mat-button href="/header#kek"><span class="fa fa-address-card fa-lg"></span> Private office</a>-->
  <span class="flex-spacer"></span>
  <a mat-button (click)="vkReg()"><span class="fa fa-list fa-lg"></span> VK</a>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span>Login</a>

</mat-toolbar>

<div class="centered hero-section" id="kek">

</div>
