.reg-button {
  border: none;
  font-weight:400;
  padding:0 10px;
  color:#FFF;
  background-color:#6bb551;
  border-radius:4px;
}

.reg-button:hover {
  background-color:#5ea246;
  text-decoration:none;
  cursor: pointer;
}

