<div class="row">

  <div  class="mat-elevation-z8 col-md-5 col-md-push-1">
    <h3>{{database.headerText}} {{database.totalAmount}} <span class="fa fa-rub"></span> </h3>

    <div class="spiner" *ngIf="!isUser">
    <mat-spinner></mat-spinner><h4>Загрузка...</h4>
    </div>

    <mat-table  #table [dataSource]="dataSource">
      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef > Описание </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef > Дата </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.time | date:'medium'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <mat-header-cell *matHeaderCellDef > Сумма </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="badge" [style.background-color] = "row.color">{{row.amount | currency:'RUB':'symbol'}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [length]="database.data.length"
                   [pageIndex]="0"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>


  <div class="col-md-4 col-md-push-2 user-card" *ngIf="!isUser">
    <mat-spinner></mat-spinner><h4>Загрузка...</h4>
  </div>
<div *ngIf="isUser" class="col-md-4 col-md-push-2 user-card">
  <mat-card class="user-info">
    <mat-card-header class="title">
      <mat-card-title>
        <h3>{{user.firstName}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="imgProfil" src={{user.avatarUri}} onerror="this.src='../assets/anonim.png'" >
    <mat-card-content>
      <p><a (click)="vkNavigate($event, user.userName)">vk.com/{{user.userName}}</a></p>

      <button mat-button (click)="addDebt()" class="primary-button" *ngIf="showAddButton">Добавить долг</button>

      <form novalidate [formGroup]="debtForm" (ngSubmit)="onSubmit()" *ngIf="formCreated" >
        <p>
          <mat-input-container class="half-width"
                              dividerColor="{{formErrors.description ? 'warn' : 'primary'}}" >
            <input matInput formControlName="description" placeholder="Описание" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.description)">{{formErrors.description}}</span>
            </mat-hint>
          </mat-input-container>
          <mat-input-container class="half-width"  dividerColor="{{formErrors.amount ? 'warn' : 'primary'}}">
            <input matInput formControlName="amount" placeholder="Сумма" type="number" pattern="[0-9]*" required>
            <mat-hint>
              <span [hidden]="!(formErrors.amount)">{{formErrors.amount}}</span>
            </mat-hint>
          </mat-input-container>
          <md-slide-toggle formControlName="agree" color="primary">Сделать запрос на долг?</md-slide-toggle>
        </p>
        <button type="submit" mat-button class="btn btn-success text-floral-white" [disabled] = "debtForm.invalid">Отправить</button>
        <button mat-button class="btn btn-danger text-floral-white" (click)="cancelButton()">Отмена</button>
      </form>


    </mat-card-content>
  </mat-card>
</div>
</div>
