<!--<div class="container"-->
     <!--fxLayout="row"-->
     <!--fxLayout.sm="column"-->
     <!--fxLayout.xs="column"-->
     <!--fxLayoutAlign.gt-md="space-around center"-->
     <!--fxLayoutGap="10px">-->
<div class="row">

  <div  class="mat-elevation-z8 col-md-5 col-md-push-1">
    <h3>History,  Total Amount: {{database.totalAmount}} </h3>

    <mat-table  #table [dataSource]="dataSource">
      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef > Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef > Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.time}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <mat-header-cell *matHeaderCellDef > Amount </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="badge" [style.background-color] = "row.color">{{row.amount | currency:'RUB':'symbol'}}</span>
          <!--{{row.amount | currency:'RUB':'symbol'}} -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [length]="database.data.length"
                   [pageIndex]="0"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>



<div *ngIf="isUser" class="col-md-4 col-md-push-2">
  <mat-card class="user-info">
    <mat-card-header class="title">
      <mat-card-title>
        <h3>{{user.info.firstName}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image class="imgProfil" src={{user.info.avatarUri}} >
    <mat-card-content>
      <p>UserName: {{user.info.userName}}</p>
      <p>Email: {{user.info.email}}</p>

      <button mat-button (click)="addDebt()" class="addButton" *ngIf="showAddButton">Add Debt</button>

      <form novalidate [formGroup]="debtForm" (ngSubmit)="onSubmit()" *ngIf="formCreated" >
        <p>
          <mat-input-container class="half-width"
                              dividerColor="{{formErrors.description ? 'warn' : 'primary'}}" >
            <input matInput formControlName="description" placeholder="Description" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.description)">{{formErrors.description}}</span>
            </mat-hint>
          </mat-input-container>
          <mat-input-container class="half-width"  dividerColor="{{formErrors.amount ? 'warn' : 'primary'}}">
            <input matInput formControlName="amount" placeholder="Amount" type="number" pattern="[0-9]*" required>
            <mat-hint>
              <span [hidden]="!(formErrors.amount)">{{formErrors.amount}}</span>
            </mat-hint>
          </mat-input-container>
          <md-slide-toggle formControlName="agree">Make debt as invoice?</md-slide-toggle>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled] = "debtForm.invalid">Send</button>
        <button mat-button class="background-primary text-floral-white" (click)="cancelButton()">Cancel</button>
      </form>


    </mat-card-content>
  </mat-card>
</div>
<!--</div>-->




</div>
