.imgProfil {
  width: 50%;
  height: 50%;
  display: inline;
  /*overflow: hidden;*/
}

.addButton {
  background: lightgray;
}

.mat-header-row {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.badge {
  border-radius: 0.25rem;
}

.user-info {
  text-align: center;
}

.title {
  justify-content: center;
}

.user-card {
  padding-top: 30px;
}

.mat-card-image {
  padding: 0;
}

