:host {
  display: block;
}

:host:hover .delete-btn {
  right: -10px;
}

:host:hover .preview-title {
  padding-right: 20px;
}

.preview-body {
  margin-top: 15px;
}

.details {
  width: 100%;
  margin-bottom: 10px;
}

.details td {
  text-align: right;
}

.details th,
.details td {
  vertical-align: top;
}

.preview-title {
  cursor: pointer;
  padding-right: 0;
  position: relative;
  transition: padding .2s;
}

.delete-btn {
  position: absolute;
  right: -40px;
  transition: all .2s;
  opacity: .5;
}

.delete-btn:hover {
  opacity: 1;
}

.delete-btn:active {
  opacity: .7;
}

:host {
  display: block;
  /*margin-top: 20px;*/
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
