.addButton {
  background: lightgray;
}
.imgProfil {
  width: 50%;
  height: 50%;
}


.crop {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.mat-header-row {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.mat-row {
  cursor: pointer;
}

mat-card {
  overflow: hidden;
}

.footer {
  height: 20px;
}

@media (max-width: 768px) {
  .community-card {
    padding-top: 30px;
  }
}

.community-info {
  padding: 0 0 10px 0;
  /*padding-bottom: 10px;*/
  text-align: center;
}

.title {
  justify-content: center;
}
