<div class="container flex-spacer"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">


  <div *ngIf="isCommunity" fxFlex="40%" class="example-container mat-elevation-z8">
    <h3>Members</h3>

    <mat-table  #table [dataSource]="dataSource">
      <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef> Avatar </mat-header-cell>
        <mat-cell *matCellDef="let row"> <img class="crop" src={{row.avatarUri}}> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef > UserName </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="email">-->
        <!--<mat-header-cell *matHeaderCellDef > Email </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let row" > {{row.email}} </mat-cell>-->
      <!--</ng-container>-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserClick(row)"></mat-row>
    </mat-table>
  </div>



  <div *ngIf="isCommunity" fxFlex="40%">
    <mat-card >
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{community.name}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="imgProfil" src="../../assets/community.jpg" >
      <mat-card-content>
        <p>ID: {{community.id}}</p>
        <p>Members: {{community.members.length}}</p>

        <button mat-button (click)="leave()" class="addButton" >Leave</button>
        <button mat-button (click)="optimize()" class="addButton" >Optimize</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="toJoin">
    <mat-card >
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{community.name}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="imgProfil" src="../../assets/community.jpg" >
      <mat-card-content>
        <p>ID: {{community.id}}</p>
        <button mat-button (click)="join()" class="addButton" >Join</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>




