<div class="row">

  <div *ngIf="isCommunity" class="example-container mat-elevation-z8 col-md-5 col-md-push-1">
    <h3>Участники</h3>

    <mat-table  #table [dataSource]="dataSource">
      <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef> Аватар </mat-header-cell>
        <!--onerror="this.src='/Debt-Off/assets/anonim.png'"-->
        <!--onerror="this.src='../assets/anonim.png'"-->
        <mat-cell *matCellDef="let row"> <img class="crop" src={{row.avatarUri}} onerror="this.src='/Debt-Off/assets/anonim.png'"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef > Имя </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef > Ссылка </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a (click)="vkNavigate($event, row.userName)"> {{row.userName}}</a> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserClick(row)"></mat-row>
    </mat-table>
    <div class="footer-margin">
    </div>
  </div>




  <div *ngIf="isCommunity" class="col-md-4 col-md-push-2 community-card">
    <mat-card class="community-info">
      <mat-card-header class="community-title">
        <mat-card-title>
          <h3>{{community.name}}</h3>
        </mat-card-title>
      </mat-card-header>
      <!--src="/Debt-Off/assets/community.jpg"-->
      <!--src="../../assets/community.jpg"-->
      <img mat-card-image class="community-img" src="/Debt-Off/assets/community.jpg" >
      <mat-card-content>
        <p>ID: {{community.id}}</p>
        <p>Участники: {{community.members.length}}</p>

        <div class="column">
          <button mat-button (click)="leave()" class="primary-button" >Покинуть сообщество</button>
          <button mat-button (click)="showGraph()" class="primary-button">Граф долгов</button>
          <button *ngIf="showAddButton" mat-button (click)="addInvoices()" class="primary-button">Распределить на группу</button>
          <form class="form-margin-top" novalidate [formGroup]="debtForm" (ngSubmit)="onSubmit()" *ngIf="formCreated" >
            <p>
              <mat-input-container class="half-width"
                                   dividerColor="{{formErrors.description ? 'warn' : 'primary'}}" >
                <input matInput formControlName="description" placeholder="Описание" type="text" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.description)">{{formErrors.description}}</span>
                </mat-hint>
              </mat-input-container>
              <mat-input-container class="half-width"  dividerColor="{{formErrors.amount ? 'warn' : 'primary'}}">
                <input matInput formControlName="amount" placeholder="Сумма" type="number" pattern="[0-9]*" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.amount)">{{formErrors.amount}}</span>
                </mat-hint>
              </mat-input-container>
            </p>
            <button type="submit" mat-button class="btn btn-success text-floral-white" [disabled] = "debtForm.invalid">Отправить</button>
            <button mat-button class="btn btn-danger text-floral-white" (click)="cancelButton()">Отмена</button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="toJoin" class="col-md-6 col-md-offset-3">
    <mat-card class="community-info">
      <mat-card-header class="title">
        <mat-card-title>
          <h3>{{community.name}}</h3>
        </mat-card-title>
      </mat-card-header>
      <!--src="../../assets/community.jpg"-->
      <!--src="/Debt-Off/assets/community.jpg"-->
      <img mat-card-image class="imgProfil" src="/Debt-Off/assets/community.jpg" >
      <mat-card-content>
        <p>ID: {{community.id}}</p>
        <button mat-button (click)="join()" class="primary-button" >Присоединиться</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>




