.addButton {
  background: lightgray;
}
.imgProfil {
  width: 50%;
  height: 50%;
}


.crop {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.mat-header-row {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.mat-row {
  cursor: pointer;
}

mat-card {
  overflow: hidden;
}

.footer {
  height: 20px;
}

.community-info {
  text-align: center;
}

.title {
  justify-content: center;
}
