<!--The content below is only a placeholder and can be replaced.-->
<!--<app-header></app-header>-->
<!--<app-debts></app-debts>-->
<!--<app-header></app-header>-->
<router-outlet></router-outlet>

<!--<div class="centered hero-section">-->

<!--</div>-->




<!--<div fxFlex="20" >-->
  <!--<md-card class="flex-spacer">-->
    <!--<md-card-header>-->
      <!--<div md-card-avatar></div>-->
      <!--<md-card-title>-->
        <!--<h3>AIRAT</h3>-->
      <!--</md-card-title>-->
    <!--</md-card-header>-->
    <!--<img md-card-image src="assets/leader.jpg" >-->
    <!--<md-card-content>-->
      <!--<p>C203 team</p>-->
      <!--<p>LolKEK</p>-->
      <!--<p>Cheburek-->
      <!--</p>-->
    <!--</md-card-content>-->
  <!--</md-card>-->
<!--</div>-->
