<div class="row col-md-6 col-md-offset-3 col-sm-9 ">
     <div class="card">
       <div class="card-header text-center" automation-id="title">
         Мои группы
       </div>
       <ul class="list-group list-group-flush">
         <div class="spiner" *ngIf="!dataLoaded">
           <mat-spinner></mat-spinner><h4>Загрузка...</h4>
         </div>
         <li class="list-group-item" *ngFor="let community of communities" (click)="onClickCommunity(community)">
           <!--src="/Debt-Off/assets/community.jpg"-->
           <!--src="../../assets/community.jpg"-->
           <div class="d-flex justify-content-between align-items-center preview-title">
             <img class="pull-left img-circle nav-user-photo" width="50" src="/Debt-Off/assets/community.jpg" />  
             {{community.name}}
             <span class="right">
               ID: {{community.id}}
            </span>
           </div>
         </li>
       </ul>
       <div class="card-footer text-center">
           <button mat-button class="primary-button" *ngIf="showCreateButton" (click)="createCommunity()">Создать сообщество</button>
           <form novalidate [formGroup]="communityForm" (ngSubmit)="onSubmit()" *ngIf="formCreated" >
             <p>
               <mat-input-container class="half-width"
                                    dividerColor="{{formErrors.name ? 'warn' : 'primary'}}" >
                 <input matInput formControlName="name" placeholder="Название" type="text" required>
                 <mat-hint>
                   <span [hidden]="!(formErrors.name)">{{formErrors.name}}</span>
                 </mat-hint>
               </mat-input-container>
             </p>
             <button type="submit" mat-button class="btn btn-success text-floral-white" [disabled] = "communityForm.invalid">Создать</button>
             <button mat-button class="btn btn-danger text-floral-white" (click)="cancelButton()">Отмена</button>
           </form>
       </div>
     </div>

   </div>


