<div class="row col-md-6 col-md-offset-3 col-sm-9 ">
     <div class="card">
       <div class="card-header text-center" automation-id="title">
         My communities
       </div>
       <ul class="list-group list-group-flush">
         <li class="list-group-item" *ngFor="let community of communities" (click)="onClickCommunity(community)">
           <div class="d-flex justify-content-between align-items-center preview-title">
             <img class="pull-left img-circle nav-user-photo" width="50" src="../../assets/community.jpg" />  
             {{community.name}}
             <span class="right">
               ID: {{community.id}}
            </span>
           </div>
         </li>
       </ul>
       <div class="card-footer text-center">
           <button mat-button class="addButton" *ngIf="showCreateButton" (click)="createCommunity()">Create community</button>
           <form novalidate [formGroup]="communityForm" (ngSubmit)="onSubmit()" *ngIf="formCreated" >
             <p>
               <mat-input-container class="half-width"
                                    dividerColor="{{formErrors.name ? 'warn' : 'primary'}}" >
                 <input matInput formControlName="name" placeholder="name" type="text" required>
                 <mat-hint>
                   <span [hidden]="!(formErrors.name)">{{formErrors.name}}</span>
                 </mat-hint>
               </mat-input-container>
             </p>
             <button type="submit" mat-button class="background-primary text-floral-white" [disabled] = "communityForm.invalid">Create</button>
             <button mat-button class="background-primary text-floral-white" (click)="cancelButton()">Cancel</button>
           </form>
       </div>
     </div>

   </div>


