.flex-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #444444;
  color: wheat;
  
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  
}

@media (max-width: 450px) {
  mat-toolbar {
    font-size: 12px;
    flex-direction: column;
  }
  button {
    font-size: 12px;
  }
  
}

.resizing {
  max-width: 100px;
  color: lightgreen;
}

.resizing button {
  background-color: #444444;
  color: white;
  margin-top: 5px;
}

/*.resizing button:hover {*/
  /*background-color: #444444;*/
  /*color: white;*/
  /*margin-top: 5px;*/
/*}*/

/*.resizing button:hover {*/
  /*background-color: lightgreen;*/
/*}*/
