<!--<div style="width: 500px; height: 500px" *ngIf="graphLoaded">-->
  <!--kek-->
  <!--<img [src]="path" style="width: 1000px; height: 1000px;">-->
<!--</div>-->
<div>
<mat-toolbar mat-dialog-title>
  {{community.name}} Graph
  <button mat-button (click)="optimizeGraph()">Оптимизировать</button>
  <span class="flex-spacer"></span>

  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<div class="spiner" *ngIf="!graphLoaded">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>
<div class="row" *ngIf="graphLoaded">
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <img class="img-responsive" [src]="path" />    <!--Mobile-->
  </div>
  <div class="hidden-xs col-sm-8 col-sm-offset-2 hidden-md hidden-lg">
    <img class="img-responsive" [src]="path" />   <!--Tab-->
  </div>
  <div class="hidden-xs hidden-sm col-md-8 col-md-offset-2 hidden-lg">
    <img class="img-responsive" [src]="path" />   <!--Desktop-->
  </div>
  <div class="hidden-xs hidden-sm hidden-md col-lg-8 col-lg-offset-2">
    <img class="img-responsive" [src]="path" />  <!--Large-->
  </div>
</div>

</div>
