<div class="row col-md-8 col-md-offset-2 col-sm-12">

<div  class="example-container mat-elevation-z8">
  <div class="spiner" *ngIf="!dataLoaded">
    <mat-spinner></mat-spinner><h4>Загрузка...</h4>
  </div>
  <div class="preview-title" *ngIf="dataLoaded">
    Кредиты
    <span>Итого: <strong>{{creditsDatabase.totalAmount | currency:'RUB':'symbol'}}</strong></span>
  </div>

  <mat-table  #table [dataSource]="dataCredits" >

    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef> Аватар </mat-header-cell>
      <mat-cell *matCellDef="let row"> <img class="crop" src={{row.user.avatarUri}} onerror="this.src='../assets/anonim.png'"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell class="user-name" *matHeaderCellDef> Ссылка </mat-header-cell>
      <mat-cell class="user-name" *matCellDef="let row"> <a (click)="vkNavigate($event, row.user.userName)"> {{row.user.userName}}</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Сумма </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span automation-id="price" class="badge badge-success">{{row.totalAmount | currency:'RUB':'symbol'}}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserClick(row.user, $event)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 id="creditsPaginator"
                 [length]="creditsDatabase ? creditsDatabase.data.length : 0"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>






<div  class="example-container mat-elevation-z8">
  <div class="spiner" *ngIf="!dataLoaded">
    <mat-spinner></mat-spinner><h4>Загрузка...</h4>
  </div>
  <div class="preview-title" *ngIf="dataLoaded">
    Долги
    <span>Итого: <strong>{{debtsDatabase.totalAmount | currency:'RUB':'symbol'}}</strong></span>
  </div>

  <mat-table #tabl [dataSource]="dataDebts">

    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef> Аватар </mat-header-cell>
      <mat-cell *matCellDef="let row"> <img class="crop" src={{row.user.avatarUri}} onerror="this.src='../assets/anonim.png'"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell class="user-name" *matHeaderCellDef> Ссылка </mat-header-cell>
      <mat-cell class="user-name" *matCellDef="let row"> <a (click)="vkNavigate($event, row.user.userName)"> {{row.user.userName}}</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Сумма </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span automation-id="price" class="badge badge-danger">{{row.totalAmount | currency:'RUB':'symbol'}}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserClick(row.user, $event)"></mat-row>
  </mat-table>

  <mat-paginator #debtsPaginator
                 id="debtsPaginator"
                 [length]="debtsDatabase ? debtsDatabase.data.length : 0"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
</div>

