/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 30px;
}

.mat-table {
  overflow: hidden;
  max-height: 500px;
}

.crop {
  display: inline;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.total {
  position: relative;
  text-align: center;
}

.preview-title {
  display: flex;
  justify-content: space-between;
  padding: 0 23px;
  align-items: center;
  font-size: 20px;
}

.mat-row {
  cursor: pointer;
}
.mat-header-row {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.badge {
  border-radius: 0.25rem;
}

.badge-success {
  background-color: #28a745;
}

.badge-danger {
  background-color: #dc3545;
}

@media (max-width: 600px) {
  .preview-title {
    font-size: 10px;
  }
  .user-name {
    display: none;
    width: 0;
    height: 0;
    opacity:0;
    visibility: collapse;
  }

  mat-table, mat-header-cell, mat-cell  {
    font-size: 10px;
  }
  .badge {
    font-size: 5px;
  }
  .mat-paginator {
    font-size: 7px;
  }

}




